name: Node.js CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'
      - run: ls
      - run: curl ifconfig.me
      - run: docker compose build 
      - name: Run Eslint
        run: eslint . --ext .js,.jsx

